In [1]:
import pandas as pd

In [3]:
data=pd.read_csv('/bestsellers with categories.csv')
data.head()

                                                Name  ...        Genre
0                      10-Day Green Smoothie Cleanse  ...  Non Fiction
1                                  11/22/63: A Novel  ...      Fiction
2            12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                             1984 (Signet Classics)  ...      Fiction
4  5,000 Awesome Facts (About Everything!) (Natio...  ...  Non Fiction

[5 rows x 7 columns]

In [11]:
data.shape

(554, 7)

Duplicate data in the dataset affects the efficiency of the model as it is prone to over-fitting. So, identifying and removing the duplicates from the dataset is necessary to make a better machine learning model.

We can check the duplicates in the dataset using pandas **duplicated()** method.

In [4]:
#Checking for the duplicate values 
data.duplicated().sum()

4

There are 4 rows whose values for all the columns are same. These are the duplicated rows in the dataset.

In [5]:
# those duplicated rows in the dataset.
data[data.duplicated()]

                      Name         Author  User Rating  ...  Price  Year    Genre
510  To Kill a Mockingbird     Harper Lee          4.8  ...      7  2019  Fiction
511  To Kill a Mockingbird     Harper Lee          4.8  ...      7  2019  Fiction
547                 Wonder  R. J. Palacio          4.8  ...      9  2017  Fiction
548                 Wonder  R. J. Palacio          4.8  ...      9  2017  Fiction

[4 rows x 7 columns]

In [7]:
print('The duplicates for each column are:')
for col in data.columns:
  print(col + ' : ' + str(data[col].duplicated().sum()))

The duplicates for each column are:
Name : 203
Author : 306
User Rating : 540
Reviews : 208
Price : 514
Year : 543
Genre : 552

To remove duplicates in the dataset, we use pandas **drop_duplicates()** method.

We will find the shape of the data after deleting duplicates from a particular column.

In [8]:
# shape of dataset if we remove duplicates containing only in 'Name' column.
data.drop_duplicates(subset=['Name']).shape

(351, 7)

In [12]:
data_name=data.drop_duplicates(subset=['Name'])
data_name.shape

(351, 7)

We will find the shape of the data after deleting duplicate rows from the dataset.

In [10]:
#Similarly to remove the rows containing duplicate values we use all columns in the subset attribute.
data.drop_duplicates(subset=data.columns).shape

(550, 7)

In [13]:
#to make a dataset that is free of duplicate rows
data.drop_duplicates(subset=data.columns,inplace=True)

In [14]:
data.shape

(550, 7)